button {
    font-size: 15px;
    background-color: rgb(234, 255, 0);
    color: rgb(0, 0, 0);    
    margin-top: 10px;
}

@keyframes rainbow {
    0% {
        background-color: red;
    }
    15% {
        background-color: orange;
    }
    30% {
        background-color: yellow;
    }
    45% {
        background-color: green;
    }
    60% {
        background-color: blue;
    }
    75% {
        background-color: indigo;
    }
    90% {
        background-color: violet;
    }
    100% {
        background-color: red;
    }
}

body {
    background-color: rgb(255, 255, 255); 

    font-family: "Times New Roman";
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 18px; 

    width: 300px; 
    margin: auto;
}


label {
    font-size: 20px;
}

button:hover {
    background-color: goldenrod;
    animation: none;
}

.bottom-left {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.animated {
    animation: rainbow 10s linear infinite;
}

.class1 {
    text-align: center;
    color: black;
  }

.bottom-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
