button {
    font-size: 24px;
    background-color: rgb(234, 255, 0);
    color: rgb(0, 0, 0);    
    margin-top: 10px;
    animation: rainbow 5s linear infinite;
}

@keyframes rainbow {
    0% {
        background-color: red;
    }
    15% {
        background-color: orange;
    }
    30% {
        background-color: yellow;
    }
    45% {
        background-color: green;
    }
    60% {
        background-color: blue;
    }
    75% {
        background-color: indigo;
    }
    90% {
        background-color: violet;
    }
    100% {
        background-color: red;
    }
    
}

body {
    background-color: rgb(255, 255, 255); 

    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 18px; 

    width: 300px; 
    margin: auto;

}

label {
    font-size: 20px;
}

button:hover {
    background-color: goldenrod;
    animation-play-state: paused;
}

button:hover {
    background-color: goldenrod;
    animation: none;
}